@font-face {
    font-family: "StarRailFont";
    src: url("appimg://${plugin_path}/res/StarRailFont.ttf") format("truetype");
}

/* 设置所有字体为星穹铁道同款
 * 字体来自星穹铁道游戏目录下的 StarRail_Data\StreamingAssets\MiHoYoSDKRes\HttpServerResources\font\zh-cn.ttf */
* {
    font-family: "StarRailFont";
} 

/* 隐藏部分组件的背景色 */
.tab-container,.two-col-layout,.two-col-layout__aside,.recent-contact,.list-toggler,.recent-contact-list,.chat-header,.chat-header .background-mask, .viewport-list__inner {
    background: none !important;
}

#app > .container {
    position: relative;
    overflow-y: hidden;
}

/* 窗口的背景图 */
#app > .container::before {
    content: " ";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background-image: url("appimg://${background_img}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(${background_blur}px) brightness(${background_brightness}%);
    z-index: -1;
}

/* 窗口右上角的按钮 自动隐藏 */
.window-control-area {
    opacity: 0;
    border-radius: 4px;
    margin: 4px;
    transition: all .7s ease;
}

.window-control-area:hover {
    opacity: 100%;
    background-color: rgb(255,255,255,0.75);
}

.window-control-area .q-icon {
    color: black;
}


/* 聊天界面 */
.two-col-layout__main {
    position: relative;
    margin: 20px;
    border-radius: 1px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 3px rgb(0,0,0,0.5);
}

/* 聊天界面顶部区域 */
.chat-header {
    margin-top: -12.5px;
    height: 75px !important;
}

.chat-header .background-mask {
    box-shadow: 0 1.2px rgb(172, 172, 172, 0.5);
}

/* 聊天界面顶部区域 左边的群名或者好友名 */
.chat-header__contact-name span {
    color: black !important;
    font-weight: bolder;
    font-size: large;
    line-height: unset !important;
}


/* 聊天界面顶部区域 右边的工具栏 自动隐藏 */
.chat-header .bar-icon .q-icon{
    opacity: 0;
}

.chat-header:hover .bar-icon .q-icon{
    opacity: 100%;
    transition: all .7s ease;
}


/* 聊天界面背后的那个框框 */
.two-col-layout__main::before {
    content: " ";
    z-index: -1;
    position: absolute;
    top: 5px;
    left: -6px;
    display: block;
    width: 100%;
    height: 100%;
    border: 1.5px solid rgb(172, 172, 172, 0.5);
}

/* 聊天界面左上角的图形 */
.two-col-layout__main::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.75;
    display: block;
    width: 130px;
    height: 130px;
    background-image: url("appimg://${plugin_path}/res/img_header.png");
    background-position: 0 0;
    background-size: 130px 130px;
    background-repeat: no-repeat;
}

/* 聊天界面背景色 */
.two-col-layout__main {
    background-color: rgb(221, 221, 221, ${chatWindow_Opacity}%) !important;
}

/* 聊天界面头像大小以及消息的外边距 */
.message-container {
    --avatar_size_2: 60px !important;
    margin: 3px 32px;
    padding: 0px;
}

/* 聊天气泡 */
.msg-content-container:not(.mix-message__container--market-face):not(.mix-message__container--pic) {
    background-color: rgb(248, 248, 248);
    border-radius: 13px;
    border-top-left-radius: 2px;
    padding: 11px 17px 9px 17px;
    box-shadow: -1px 2px rgb(156,156,156);
}

.msg-content-container {
    margin: 2px 6px;
}

/* 聊天气泡里面的文字样式 */
.message-content__wrapper span, .markdown-element p, .message-content{
    color: rgb(0,0,0);
    font-size: calc(var(--font_size_3) * 1.3) !important;
    line-height: unset !important;
    font-weight: bold !important;
}


/* 右侧聊天气泡，也就是自己发的内容 */
.message-container--align-right .msg-content-container:not(.mix-message__container--market-face):not(.mix-message__container--pic) {
    background-color: rgb(209,189,149);
    border-top-left-radius: 12px;
    border-top-right-radius: 2px;
    box-shadow: 1px 3px rgb(156,156,156);
    color: rgb(40,40,40);

    /* 注意下面这段注释不能删！！！ */
    /* Bubble Style */
}

/* 右侧聊天气泡里面"@XXX"的文字样式 */
.message-container--align-right .message-content__wrapper span {
    color: inherit !important;
}

.message-container:not(:has(.user-name)) .message-content__wrapper  {
    margin-top: calc(var(--avatar_size_2) / 2 + 2px) !important;
}

/* 聊天气泡里 "@XXX" 的文本样式 */
.text-element--at {
    color: var(--brand_standard) !important;
}

/* 聊天气泡上面显示的昵称 */
.user-name .text-ellipsis {
    color: rgb(100, 100, 100) !important;
    font-weight: bold;
    font-size: 0.95rem;
    line-height: unset !important;
}

.user-name {
    margin: 4px 6px;
}

/* 一些提示文本，比如"XXX 撤回了一条消息" */
.gray-tip-content.gray-tip-element {
    font-size: larger;
    line-height: unset !important;
    font-weight: bold;
    color: rgb(108, 108, 108);
    margin: 2px;
}

/* 消息上方显示的一整行的时间 */
.message__timestamp {
    padding: 0;
    margin: 2px 0 !important;
}

/* 提示文本左侧的图标 */
.gray-tip-content.gray-tip-element::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    background-image: url("appimg://${plugin_path}/res/icon_tip.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 输入区域 */
.chat-input-area {
    box-shadow: inset 0px 2px rgb(172, 172, 172, 0.25) !important;
    background-color: rgb(100,100,100,0.05) !important;
}

/* 输入区域文本框内的文字样式 */
.qq-editor > *{
    color: black;
    caret-color: black;
}

/* 输入区域上方的工具图标，比如表情，文件，截图按钮 */
.chat-func-bar .q-icon, .func-bar .q-icon{
    color: rgb(62, 46, 14) !important;
}

/* 发送按钮 */
.send-btn-wrap {
    border-radius: 1px !important;
    box-shadow: 1px 1px 2px rgb(172, 172, 172, 0.75) !important;
    background-color: rgb(234,234,234) !important;
}

.send-setting__wrapper i, .send-msg {
    color: rgb(18,18,18) !important;
    font-weight: bold;
    font-size: 0.95rem;
    line-height: unset !important;
}

/* 回到底部按钮 */
.q-notification.chat-msg-area__tip--bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: none !important;
    box-shadow: none;
    outline: none !important;
}

/* 左侧最近聊天列表的外边距 */
.two-col-layout__aside {
    margin: 10px;
    margin-left: 20px;
    box-sizing: content-box;
}

/* 最近聊天列表上方的搜索框和添加按钮 */
.search-input__icon,.q-input__inner,.contact-adder-btn, .top-bar__adder i  {
    color: rgb(200,200,200) !important;
}

/* 最近聊天列表中单个元素的样式 */
.recent-contact-item {
    --on_brand_primary: rgb(240,240,240) !important;
    --on_brand_secondary: rgb(200,200,200) !important;
    --on_bg_text: rgb(200,200,200) !important;
    border: 2px solid rgb(172, 172, 172,0.35);
    border-radius: 2px;
    margin-bottom: 8px;
    background-color: rgb(0,0,0, 0.4);
    transition: all .5s ease;
}

/* 最近聊天列表 头像大小 */
.recent-contact-item .avatar {
    --avatar_size_3: 52px;
}

/* 最近聊天列表 鼠标悬浮时出现的框框 */
.recent-contact-item:hover {
    border: 2px solid rgb(231,231,234, 0.75);
    background-color: rgb(0,0,0, 0.1);
}

/* 最近聊天列表 每个元素的内边距和高度 */
.recent-contact-list .list-item .list-item__content {
    padding: 100px !important;
    height: calc(var(--avatar_size_3) + 30px) !important;
}


.recent-contact-item.list-item--selected .list-item__content {
    background-color: rgb(0,0,0,0.6);
}

/* 最近聊天列表 好友昵称/群名 */
.recent-contact-item .list-item__title .main-info {
    color: rgb(200,200,200) !important;
    font-size: calc(var(--font_size_3) * 1.08);
    line-height: unset !important;
}

/* 最左侧侧边栏 */
.sidebar-nav {
    background-color: rgb(0,0,0,0.5) !important;
}

/* 最左侧侧边栏 里面的图标 */
.sidebar-nav .q-icon  {
    color: rgb(200,200,200);
}

/* QQ超级调色盘背景 隐藏 */
.q-miracle-background {
    display: none;
}